.dots {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 4px;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    padding-top: 60px;
  }

  .show{
    z-index: -999;
    
}
  
  .sidebar-icon {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .sidebar-text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .sidebar-active {
    background: linear-gradient(to right, #EBC982 0%, #8F5C12 100%);
    border-radius: 0 10px 10px 0;
    color: white;
  }
  
 
  

.divider-vertical {
    width: 2px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 998;
}

.divider-horizontal {
    width: 100vw;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 998;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 60px;
    margin-left: 15%;
}
.search-bar {
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px 10px;
    color: #fff;
}

.user-profile {
    display: flex;
    align-items: center;
}

.profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-name {
    margin-left: 10px;
    color: #fff;
}

.photo-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.06);
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .carousel-photo {
        width: 60px;
        height: 60px;
    }
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    margin: 1em;
  }
  
  .footer-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
  }
  
  .golden {
    background-color: #FFB500;
  }
  
  .left {
    display: flex;
    flex-direction: column;
  }
  
  .left-div1 {
    margin-right: 3em;
  }
  
  .left-div1 span {
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 3em;
  }
  
  .left-div2 {
    display: flex;
    margin-top: 5em;
  }
  
  .right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .right-div1 {
    margin-right: 20px;
  }
  
  .right-div1 span {
    font-size: 16px;
    margin-right: 3em;
  }
  
  .arrow {
    margin-left: 5px;
  }
  
  .right-div2 {
    display: flex;
  }
  
  .right-div2 a {
    margin-right: 10px;
  }
  
  .bottom {
    margin: 2em;
  }



  
  

  @media (max-width: 600px) {
  

    .custom-heading {
        font-size: 18px;
    }
    .sidebar{
        width: 100%;
        background-color: black;
    }
  }
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
    }
    .wallet-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5%;
  }

  .row {
      justify-content: space-between;
  }
  .circle-border{
    width: 65%;
    margin: 15px;
  }
  .golden-circle{
    width: 40% !important;
    margin-bottom: 10px;
  }
  .inner-div {
      flex-basis: 30%; /* Three inner-divs in one row in tablet/desktop view */
      margin-bottom: 0; /* Remove the bottom margin in tablet/desktop view */
  }

    .left-div1,
    .right-div1 {
      margin-right: 0;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    
    .left-div2,
    .right-div2 {
      margin-top: 1em;
    }

    .left-div1 span,
    .left-div1 span {
        font-size: 9px;
        flex-direction: column;
      }

    .main-content{
        margin-left: 2%;
    }
    .my-account-section{
        width: 100% !important;
        margin-right: 0 !important;
    }
  }


  .my-account-section{
    width: 90%;
    margin-right: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
  }
  .white-box{
    background-color: white;
    flex-direction: row;
    color: #000 !important;
    display: flex;
    margin-top: 3rem;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
  }
  .left-text{
    color: #000;
    margin-top: 1rem;
    /* padding-top: 1rem; */
  }
  .right-text{
    color: #A18A68 !important;
    margin-top: 1rem;
  }
  @media screen and (min-width: 992px){
    .bottom{
        margin: 15%;
        margin-right: 2%;
    }
    }