@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}



/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  /* Add more styles to adjust the logo image if needed */
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-text {
  width: 30%;
  height: 30%;
  object-fit: contain;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links li a {
  color: #FFB500;
  text-decoration: none;
}

.navbar-divider {
  height: 24px;
  width: 0.1rem;
  background-color: #fff;
  margin: 0 1rem;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icons a {
  color: #FFB500;
  font-size: 1.2rem;
  margin: 0 0.5rem;
  text-decoration: none;
}

/* White divider styles */
.white-divider {
  height: 1px;
  background-color: #fff;
}

/* Responsive media queries */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0.5rem;
    background-color: #000;
  }

  .navbar-left,
  .navbar-right {
    margin-bottom: 0.5rem;
  }

  .navbar-divider {
    display: none;
  }

  .navbar-links li {
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .navbar-icons {
    margin-left: auto;
  }
}

.card-wrapper{
    max-width: 1400px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
    background-color: #000;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #FFB500;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #FFB500;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: white;
    text-decoration: line-through;
}
.new-price span{
    color: white;
}
.product-detail h2{
    text-transform: capitalize;
    color: #ffc107;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}

/* Add the following styles to adjust the layout for desktop view */
@media screen and (min-width: 992px) {
  .card {
    display: flex;
  }

  .img-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    flex: 0.2; /* Set a fixed width for the img-select div */
  }

  .img-select .img-item {
    margin: 0.3rem;
  }

  .img-select img {
    width: 80px;
    height: 90px;
    /* You can adjust the width and height as needed */
  }

  .product-imgs {
    flex: 0.4;
    display: flex;
    align-items: stretch; /* Make all three divs the same height */
  }

  .img-display {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex: 1;
  }

  .img-showcase {
    display: flex;
    transition: all 0.5s ease;
    align-items: stretch;
    min-height: 80px; 
    height: 100%;/* Set a minimum height to prevent flex items from shrinking */
  }

  .img-showcase img {
    min-width: 100%;
  }

  .product-content {
    flex: 1;
    padding: 2rem 1rem;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
  }
  .tab-header{
    gap: 10rem !important;
  }
}


.purchase-info {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
  }
  
  .purchase-info input,
  .purchase-info .btn {
    border: 1.5px solid #ddd;
    /* border-radius: 25px; */
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin: 1rem;
  }
  
  .purchase-info input {
    width: 20%; 
    color: #000;/* Change to 20% */
  }
  
  .purchase-info .btn {
    cursor: pointer;
    color: #000000;
    width: 80%; /* Change to 80% */
  }
  
  .purchase-info .btn:first-of-type {
    background: white;
  }
  
  .purchase-info .btn:last-of-type {
    background: white;
  }
  
  .purchase-info .btn:hover {
    opacity: 0.9;
  }
  
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .tab-section {
        margin: 10%;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    .card{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
    
}

@media screen and (max-width: 480px) {
    .carousel-photo {
        width: 60px;
        height: 60px;
    }
    .similar-products{
        margin: 1rem;
      }
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    margin: 1em;
  }
  
  .footer-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
  }
  
  .golden {
    background-color: #FFB500;
  }
  
  .left {
    display: flex;
    flex-direction: column;
  }
  
  .left-div1 {
    margin-right: 3em;
  }
  
  .left-div1 span {
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 3em;
  }
  
  .left-div2 {
    display: flex;
    margin-top: 5em;
  }
  
  .right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .right-div1 {
    margin-right: 20px;
  }
  
  .right-div1 span {
    font-size: 16px;
    margin-right: 3em;
  }
  
  .arrow {
    margin-left: 5px;
  }
  
  .right-div2 {
    display: flex;
  }
  
  .right-div2 a {
    margin-right: 10px;
  }
  
  .bottom {
    margin: 2em;
  }

  @media (max-width: 600px) {
  

    .custom-heading {
        font-size: 18px;
    }
  }
  
  @media (max-width: 768px) {
        footer {
          flex-direction: column;
        }
        .wallet-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 5%;
      }
    
      .row {
          justify-content: space-between;
      }
      .circle-border{
        width: 65%;
        margin: 15px;
      }
      .golden-circle{
        width: 40% !important;
        margin-bottom: 10px;
      }
      .inner-div {
          flex-basis: 30%; /* Three inner-divs in one row in tablet/desktop view */
          margin-bottom: 0; /* Remove the bottom margin in tablet/desktop view */
      }
    
        .left-div1,
        .right-div1 {
          margin-right: 0;
          margin-bottom: 1em;
          margin-top: 1em;
        }
        
        .left-div2,
        .right-div2 {
          margin-top: 1em;
        }
    
        .left-div1 span,
        .left-div1 span {
            font-size: 9px;
            flex-direction: column;
          }
        
      }


      .tab-section {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
  
      .tab-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0.5rem;
      }
  
      .tab-item {
        cursor: pointer;
        font-size: 1rem;
        color: #ffffff;
        opacity: 0.7;
        transition: opacity 0.2s ease;
      }
  
      .tab-item:hover {
        opacity: 1;
      }
  
      .tab-divider {
        height: 3px;
        background-color: #000;
        width: 100%;
        margin: 0.5rem;
        transition: background-color 0.2s ease;
      }
  
      .tab-content {
        display: none;
        padding: 1rem 0;
        margin: 0.5rem;
      }
  
      .tab-content.active {
        display: block;
      }
      .tab-item.active {
        color: yellow;
        font-weight: bold;
      }
  
      .similar-products-section {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
      }
  
      .similar-product-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      .similar-product-image {
        width: 100%;
        max-width: 300px;
      }
  
      .similar-product-details {
        margin-top: 0.5rem;
        text-align: center;
      }
  
      .similar-product-name {
        font-size: 1rem;
        font-weight: 600;
        color:#ffc107;
      }
  
      .similar-product-price {
        font-size: 1.2rem;
        color: #888;
      }
    
      .custom-heading{
        display: flex;
        justify-content: center;
        color: #FFB500;
      }
      .similar-products{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 4rem;
      }